/* Testimonail Carosel*/
.container-fluid.testimonial-carosel {
    background: rgb(243 104 224 / 21%);
    padding: 50px 0;
}
.carosel-image {
    border: 10px solid var(--color-primary);
    border-radius: 100%;
    padding: 8px;
}
.reviews-text {
    padding: 25px 85px 40px 20px;
    background: white;
    color: var(--color-primary);
    border-radius: 10px;
    box-shadow: rgb(204 219 232) 3px 3px 6px 0px inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
}
.reviews-image {
    border: 10px solid #ffc10714;
    padding: 15px;
    border-radius: 5%;
}
ol.carousel-indicators {
    bottom: -45px;
}
ol.carousel-indicators li{
    background-color: var(--color-primary);
}
a.carousel-control-next {
    background:  var(--color-primary);
    width: 20px;
}
.carousel-control-prev {
    left: 0;
    background:  var(--color-primary);
    width: 20px;
}